{% extends 'user/base.html' %}

{%block title%}
Home
{% endblock title%}

{% block css %}
{{url_for('static',filename="css/birthday.css")}}
{% endblock css%}


{% block content%}
	

<table class="table">

    {{ rsp }}
    <thead>
      <tr>
        <th scope="col">Seial</th>
        <th scope="col">First</th>
        <th scope="col">Last</th>
        <th scope="col">Handle</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Mark</td>
        <td>Otto</td>
        <td>@mdo</td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>Jacob</td>
        <td>Thornton</td>
        <td>@fat</td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td colspan="2">Larry the Bird</td>
        <td>@twitter</td>
      </tr>
    </tbody>
  </table>

{% endblock content%}
	

